/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f9f4;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: #333;
}

.content-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 20px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icon_e {
    width: 26px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    height: auto;
    margin-right: 5px; /* Jarak antara ikon dan teks */
    vertical-align: middle; /* Menjaga ikon sejajar dengan teks */
}
.icon_c {
    width: 36px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    height: auto;
    margin-right: 5px; /* Jarak antara ikon dan teks */
    vertical-align: middle; /* Menjaga ikon sejajar dengan teks */
}
.icon_i {
    width: 24px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    height: auto;
    margin-right: 5px; /* Jarak antara ikon dan teks */
    vertical-align: middle; /* Menjaga ikon sejajar dengan teks */
}
.icon_m {
    width: 24px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    height: auto;
    margin-right: 5px; /* Jarak antara ikon dan teks */
    vertical-align: middle; /* Menjaga ikon sejajar dengan teks */
}
.icon_s {
    width: 24px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    height: auto;
    margin-right: 5px; /* Jarak antara ikon dan teks */
    vertical-align: middle; /* Menjaga ikon sejajar dengan teks */
}
.icon_z {
    width: 60px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    height: auto;
    margin-right: 5px; /* Jarak antara ikon dan teks */
    vertical-align: middle; /* Menjaga ikon sejajar dengan teks */
    background: linear-gradient(to bottom, #e0f7e9, #4caf50, #2e7d32);
    border-radius: 100px;
}

/* Hero Section */
.hero-section {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

/* Gambar Pengantin */
.hero-top-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url('img/pengantin.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

/* Gambar Background */
.hero-bottom-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url('img/bg.jpeg');
    background-size: cover;
    background-position: top;
    z-index: 0;
    opacity: 0.5;
    filter: blur(10px);
}

/* Efek Gradient Pudar */
.hero-top-image::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 1));
    z-index: 2;
}

/* Konten Utama */
.hero-content {
    position: relative;
    z-index: 3;
    text-align: center;
    padding: 20px;
    color: #333;
}

/* Desain Card Nama */
.name-card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.hero-title {
    font-size: 2.5rem;
    font-family: 'Great Vibes', cursive;
    color: #4f5d75;
    margin: 0;
    text-align: center;
}
.hero-titl {
    font-size: 1rem;
    font-family: 'Great', cursive;
    color: #020202;
    margin: 0;
    text-align: center;
}
.invitation-text {
    margin-top: 10px;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #4f5d75;
    text-align: center;
}

.scroll-button {
    margin-top: 20px;
    background: linear-gradient(to bottom, #e0f7e9, #4caf50, #2e7d32); /* Linear gradient dari hijau muda ke hijau gelap */
    color: #fff;
    border: 1px solid #2e7d32; /* Tambahkan border untuk efek 3D */
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Efek transisi untuk hover */
    box-shadow: 0 4px 0 #2e7d32; /* Bayangan tombol untuk efek 3D */
}

.scroll-button:hover {
    background: linear-gradient(to bottom, #d4f3dc, #43a047, #2e7d32); /* Ubah gradient saat hover untuk efek kedalaman */
    transform: translateY(-2px); /* Efek tombol terangkat saat hover */
    box-shadow: 0 6px 0 #2e7d32, 0 6px 15px rgba(0, 0, 0, 0.1); /* Tambahkan shadow bawah untuk efek lebih nyata */
}
.scroll-button:active {
    transform: translateY(1px); /* Efek tombol ditekan */
    box-shadow: 0 2px 0 #2e7d32; /* Kurangi bayangan untuk menunjukkan kedalaman saat tombol ditekan */
}

/* Framed Sections */
.framed-section {
    background-image: url('img/bgcard.jpg'); /* Menambahkan gambar background */
    background-size: cover; /* Mengatur ukuran background agar menutupi seluruh area */
    background-position: center; /* Menempatkan gambar background di tengah */
    padding: 20px; /* Menambahkan padding agar konten tidak menempel ke tepi */
    border-radius: 15px; /* Menambahkan sedikit radius untuk tampilan yang lebih lembut */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan efek bayangan */
    position: relative; /* Memastikan posisi relatif untuk penempatan elemen-elemen dalam section */
    overflow: hidden; /* Menyembunyikan elemen yang melampaui batas section */
}

.section-frame {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Untuk memastikan gambar selalu berada di tengah card */
    width: 250px; /* Tetapkan ukuran lebar gambar */
    height: 250px; /* Tetapkan ukuran tinggi gambar */
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 1s, transform 1s;
    transform-origin: center;
}
.section-fram {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-10%) rotate(0deg); /* Mulai dari rotasi 0 derajat */
    width: 250px; /* Tetapkan ukuran lebar gambar */
    height: 270px; /* Tetapkan ukuran tinggi gambar */
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 1s, transform 1s;
    transform-origin: center;

}

/* Animasi untuk gambar daun aktif */
.active {
    opacity: 0.3;
    animation: leafSwing 3s infinite alternate ease-in-out;
}

/* About Us Section */
.about-section {
    padding: 100px 0;
    background-color: #fff;
    text-align: center;
}

/* Image Slider */
.image-slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 300px;
    white-space: nowrap;
}

.slider-track {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

/* Gaya masuk dan keluar gambar slider */
.slider-photo.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
}

/* Countdown Timer */
.timer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Atur jarak antar card */
    margin-top: 20px;
    justify-items: center;
    align-items: center;
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px; /* Lebar card */
    height: 50px; /* Tinggi card */
    background: linear-gradient(to bottom, #13813d, #5dd75f, #9ed4a1);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.countdown-number {
    font-size: 1.5rem;
    color: #ffffff; /* Warna teks angka */
    margin-bottom: 5px;
}

.countdown-label {
    font-size: 0.8rem;
    color: #020202; /* Warna teks label */
    margin-top: -5px;
}
/* Container Save the Date */
.save-date-container {
    margin-top: 20px;
    text-align: center;
}

/* Info Tanggal */
.date-info {
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-bottom: 15px;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 100px;
    height: auto;
    width: 100%;
}
.event-day, .event-month, .event-year {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

/* .separator {
    font-size: 20px;
    color: #000000;
} */

/* Tombol Save the Date */
.save-date-button {
    margin-top: 20px;
    background: linear-gradient(to bottom, #e0f7e9, #4caf50, #2e7d32); /* Linear gradient dari hijau muda ke hijau gelap */
    color: #fff;
    border: 1px solid #2e7d32; /* Tambahkan border untuk efek 3D */
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Efek transisi untuk hover */
    box-shadow: 0 4px 0 #2e7d32; /* Bayangan tombol untuk efek 3D */
    text-decoration: none;
}

.save-date-button:hover {
    background: linear-gradient(to bottom, #d4f3dc, #43a047, #2e7d32); /* Ubah gradient saat hover untuk efek kedalaman */
    transform: translateY(-2px); /* Efek tombol terangkat saat hover */
    box-shadow: 0 6px 0 #2e7d32, 0 6px 15px rgba(0, 0, 0, 0.1); /* Tambahkan shadow bawah untuk efek lebih nyata */
}

.save-date-button:active{
    transform: translateY(1px); /* Efek tombol ditekan */
    box-shadow: 0 2px 0 #2e7d32;
}

.save-date-button i {
    margin-right: 5px;
}




/* Detail Bagian Mempelai */
/* Foto Mempelai */
.couple-photos {
    display: flex;
    justify-content: center;
    gap: 30px; /* Jarak antara dua foto */
    margin-bottom: 20px;
}

.couple-photo {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #A3D8A5;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: translateY(20px); /* Posisi awal untuk animasi */
}

/* Detail Mempelai */
.details-container {
    margin-top: 20px;
}

.couple-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: #333;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.couple-desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1.4;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 1); /* Latar belakang putih transparan */
    padding: 10px; /* Menambahkan padding di dalam card */
    border-radius: 10px; /* Efek rounded corners untuk card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan untuk efek kedalaman */
    display: inline-block; /* Agar background mengikuti ukuran teks */
    margin-top: 10px; /* Jarak atas dari elemen sebelumnya */
}

.instagram-button {
    display: flex;
    align-items: center; /* Menjaga ikon dan teks sejajar secara vertikal */
    justify-content: center; /* Pusatkan ikon dan teks di dalam button */
    align-self: center;
    margin-top: 20px;
    background: linear-gradient(to bottom, #e0f7e9, #4caf50, #2e7d32); /* Linear gradient dari hijau muda ke hijau gelap */
    color: #fff;
    border: 1px solid #2e7d32; /* Tambahkan border untuk efek 3D */
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Efek transisi untuk hover */
    box-shadow: 0 4px 0 #2e7d32; /* Bayangan tombol untuk efek 3D */
    text-decoration: none;
}
.instagram-button i {
    margin-right: 5px;
    font-size: 1rem;
}
.instagram-button:hover{
    background: linear-gradient(to bottom, #d4f3dc, #43a047, #2e7d32); /* Ubah gradient saat hover untuk efek kedalaman */
    transform: translateY(-2px); /* Efek tombol terangkat saat hover */
    box-shadow: 0 6px 0 #2e7d32, 0 6px 15px rgba(0, 0, 0, 0.1); /* Tambahkan shadow bawah untuk efek lebih nyata */
}

.instagram-button:active{
    transform: translateY(1px); /* Efek tombol ditekan */
    box-shadow: 0 2px 0 #2e7d32; /* Kurangi bayangan untuk menunjukkan kedalaman saat tombol ditekan */
}

.separator {
    font-size: 30px;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
}

/* end dari details */


/* address full */
/* Card untuk Acara */
.event-card {
    background-color: rgba(255, 255, 255, 0.9); /* Card dengan latar belakang putih transparan */
    padding: 20px;
    border-radius: 15px; /* Rounded corners untuk card */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
    margin: 20px auto; /* Margin untuk memberikan jarak antara card */
    max-width: 350px; /* Lebar maksimal card */
    text-align: center;
}

/* Judul Acara */
.event-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
    margin-bottom: 5px;
}

/* Hari Acara */
.event-day {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

/* Tanggal Acara */
.event-date {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: #000000;
    font-weight: 700;
    margin: 0;
    line-height: 1;
}

/* Bulan dan Tahun Acara */
.event-month-year {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #080808;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Deskripsi Lokasi dan Waktu Acara */
.event-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000000;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Tombol Maps */
.button-maps {
    margin-top: 20px;
    background: linear-gradient(to bottom, #e0f7e9, #4caf50, #2e7d32); /* Linear gradient dari hijau muda ke hijau gelap */
    color: #fff;
    border: 1px solid #2e7d32; /* Tambahkan border untuk efek 3D */
    padding: 10px 20px; /* Kurangi padding untuk memperbaiki tampilan */
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Efek transisi untuk hover */
    box-shadow: 0 4px 0 #2e7d32; /* Bayangan tombol untuk efek 3D */
    text-decoration: none;
    width: fit-content; /* Memastikan tombol menyesuaikan konten */
}

.button-maps:hover {
    background: linear-gradient(to bottom, #d4f3dc, #43a047, #2e7d32); /* Ubah gradient saat hover untuk efek kedalaman */
    transform: translateY(-2px); /* Efek tombol terangkat saat hover */
    box-shadow: 0 6px 0 #2e7d32, 0 6px 15px rgba(0, 0, 0, 0.1); 
}

.button-maps:active{
    transform: translateY(1px); /* Efek tombol ditekan */
    box-shadow: 0 2px 0 #2e7d32; 
}
/* ending adress */

/* full gift */
/* Konten Wedding Gift */
.gift-card {
    background-color: rgba(255, 255, 255, 0.9); /* Latar belakang putih transparan */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 350px;
    text-align: center;
}
.codes-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
    margin-bottom: 5px;
}
.gift-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.gift-header i.icon {
    font-size: 30px;
    color: #28a745; /* Warna hijau ikon */
}

.gift-header h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #333;
    margin: 0;
}

.gift-buttons {
    display: block; /* Pastikan tombol berada dalam satu kolom */
    margin-top: 15px;
    text-align: center; /* Memusatkan konten secara horizontal */
}

.gift-button {
    display: block; /* Mengatur tombol agar tampil dalam blok, satu di atas yang lain */
    margin: 10px auto; /* Mengatur margin untuk memisahkan tombol dan memusatkannya */
    background: linear-gradient(to bottom, #e0f7e9, #4caf50, #2e7d32); /* Linear gradient dari hijau muda ke hijau gelap */
    color: #fff;
    border: 1px solid #2e7d32; /* Tambahkan border untuk efek 3D */
    padding: 10px 20px; /* Tambahkan sedikit lebih banyak padding untuk tampilan yang lebih proporsional */
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Efek transisi untuk hover */
    box-shadow: 0 4px 0 #2e7d32; /* Bayangan tombol untuk efek 3D */
    text-decoration: none;
    width: 200px; /* Atur lebar tombol agar konsisten */
}

.gift-button:hover {
    background: linear-gradient(to bottom, #d4f3dc, #43a047, #2e7d32); /* Ubah gradient saat hover untuk efek kedalaman */
    transform: translateY(-2px); /* Efek tombol terangkat saat hover */
    box-shadow: 0 6px 0 #2e7d32, 0 6px 15px rgba(0, 0, 0, 0.1); /* Tambahkan shadow bawah untuk efek lebih nyata */
}

.gift-button:active {
    transform: translateY(1px); /* Efek tombol ditekan */
    box-shadow: 0 2px 0 #2e7d32; /* Kurangi bayangan untuk menunjukkan kedalaman saat tombol ditekan */
}

/* end gify */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Footer */
footer {
    background-color: #2e7d32;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes leafSwing {
    0%, 100% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
}

/* Gaya animasi masuk dan keluar */
@keyframes slideInLeft {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideOutLeft {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(-100%); opacity: 0; }
}

@keyframes slideInRight {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideOutRight {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(100%); opacity: 0; }
}

@keyframes stay {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(0); opacity: 1; }
}


/* Apply Animation for Scrolling */
.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
    will-change: opacity, transform;
}
